# MINIO_STORAGE_CLASS_STANDARD=
# MINIO_STORAGE_CLASS_RRS=

{% if minio_metrics_wo_auth == True %}MINIO_PROMETHEUS_AUTH_TYPE="public"{% endif %}

{% if ansible_play_hosts|length|int == 1 %}
{% if minio_disks_count|int == 1 %}
MINIO_VOLUMES="/var/minio/{{minio_disk_label_prefix}}1"
{% elif minio_disks_count|int > 1 %}
MINIO_VOLUMES="/var/minio/{{minio_disk_label_prefix}}{1...{{minio_disks_count}}}"
{% else %}
{% endif %}
{% elif ansible_play_hosts|length|int > 1 %}
{% if minio_nodes is defined %}
MINIO_VOLUMES="{% for i in range(1, minio_disks_count|int + 1 ) %}http://{{ minio_nodes }}:{{minio_port}}/var/minio/{{ minio_disk_label_prefix }}{{i}}{% if not loop.last %} {% endif %}{% endfor %}"
{% else %}
MINIO_VOLUMES="{% for item in ansible_play_hosts_all %}{% for i in range(1, minio_disks_count|int + 1 ) %}http://{{ hostvars[item].ansible_fqdn }}:{{minio_port}}/var/minio/{{ minio_disk_label_prefix }}{{i}}{% if not loop.last %} {% endif %}{% endfor %}{% if not loop.last %} {% endif %}{% endfor %}"
{% endif %}
{% else %}
{% endif %}

# Use if you want to run MinIO on a custom port.
MINIO_OPTS="{% if minio_metrics_wo_auth == True %}~/test {% endif %}--address :{{minio_port}} --console-address :{{minio_console_port}}"

# Root user for the server.
MINIO_ROOT_USER="{{ minio_root_user }}"

# Root secret for the server.
MINIO_ROOT_PASSWORD="{{ minio_root_password }}"

# MINIO_SERVER_URL="https://127.0.0.1:{{minio_port}}"
